body {
  font-family: 'Roboto', sans-serif;
}

html, body, nav, ul {
  margin: 0;
}

.invisible-screen {
  display: flex;
}

nav {
  position: relative;
}

nav a {
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

nav {
  background: #689689;
}

nav ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  padding: 0px 8px;
  width: 100vw;
  justify-content: center;
  color: white;
  margin: 0;
  height: 42px;
}

#logo img {
  position: absolute;
  height: 35px;
  width: auto;
  left: 15px;
  top: 4px;
}

nav>ul>li {
  display: flex;
  justify-content: center;
}

nav>ul>li>a, nav>ul>li.dropdown {
  padding: 12px 51px;
  transition: background-color .17s ease-out;
  background: transparent;
}

nav>ul>li:hover {
  cursor: pointer;
  background: #492A34;
}

#header-navbar {
  display: flex;
  margin-left: 132px;
}

#menu-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#menu-button img {
  height: 80%;
  width: 80%;
}

li.dropdown {
  position: relative;
}

li.dropdown:after {
  position: absolute;
  content: '';
  top: 18px;
  right: 28px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid white;
}

.dropdown-content {
  position: absolute;
  top: 42px;
  left: 30px;
  border: 2px solid #492A34;
  border-radius: 0 0 6px 6px;
  border-top: none;
  visibility: hidden;
  opacity: 0;
  transition: all .17s ease-out;
}

li.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

.dropdown-content a {
  display: flex;
  padding: 10px 95px 10px 25px;
  padding-left: 20px;
  padding-right: 80px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: #492A34;
  font-weight: bold;
  background-color: white;
  transition: background-color .17s ease-out;
}

.dropdown-content a:last-child {
  border-radius: 0 0 3px 3px;
}

.dropdown-content a:hover {
  color: white;
  background-color: #492A34;
}

@media screen and (max-width: 850px) {
  nav>ul>li>a, nav>ul>li.dropdown {
    text-align: center;
  }
  li.dropdown:after {
    top: 14px;
  }
}

@media screen and (max-width: 700px) {
  nav {
    font-size: 60%;
  }
  nav>ul {
    font-size: 122%;
  }
  nav>ul {
    flex-direction: column;
    width: 170px;
    top: 40px;
    height: auto;
    color: #689689;
    right: 0;
    background: white;
    position: absolute;
    border-radius: 0 0 8px 8px;
    border: 2px solid
  }
  nav>ul>li>a, nav>ul>li.dropdown {
    padding: 10px;
  }
  #menu-button {
    display: block;
    top: 5px;
  }
  .invisible-screen {
    display: none !important;
  }
  li.dropdown:after {
    top: 11px;
    left: 11px;
    transform: rotate(90deg);
    border-top: 8px solid #689689;
  }
  .dropdown-content {
    top: 0;
    left: -90px;
    border: 2px solid #492A34;
  }
  .dropdown-content a {
    padding-right: 20px;
  }
  nav>ul>li:hover {
    cursor: pointer;
    background: #689689;
    color: white;
  }
}